amqp==1.4.9
anyjson==0.3.3
Babel==2.3.4
billiard==3.3.0.23
celery==3.1.18
Django==1.8.6
django-rosetta==0.7.6
flower==0.9.1
kombu==3.0.37
microsofttranslator==0.5
olefile==0.44
Pillow==4.0.0
polib==1.0.8
pytz==2016.10
redis==2.10.5
requests==2.13.0
six==1.10.0
tornado==4.2
